.articles {
  .img-card {
    height: 250px;
    background:$color-primary;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
