.portfolio {
  background: $bg-portfolio;
  .img-container {
    height: 300px;
    background: $color-primary;
    width: 100%;
    margin-bottom: 2rem;
    img {
      height: 100%;
      width: auto;
    }
  }
  .nav-category {
    margin: 0;
    padding: 0;
    display: flex;
    .category-item {
      list-style: none;
      padding-right: 5rem;
      font-weight: bold;
      a {
        text-decoration: none;
        color: $color-primary;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    .nav-category {
      .category-item {
        padding-right: 1.5rem;
      }
    }
  }
}
